// Variable overrides

// color
$color-white: #FFFFFF;
$color-black: #000000;
$color-green: #14DC94;
$color-woodsmoke: #15181D;
$color-shark: #1D2026;
$color-gray: #575962;
$color-boulder: #777777;
$black : #1D2026;
$white : #FFFFFF;

// font size
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-18: 18px;

//font family
$font-poppins: 'Poppins', sans-serif;

//mouser
$pointer: pointer;